.container
  .row
    .col-md-5
      = image_tag('two-phones.png', class: 'two-phones')
    .col-md-7
      = image_tag('name-with-logo.png', class: 'name-with-logo')
      = image_tag('pump.png', class: 'pump')

.container
  .row
    .col-md-6
      = image_tag('great-app.png', class: 'great-app')
      %h2.drivers_choose Drivers choose Diesel Shark to better manage their routes, including find cheaper fuel, sort truck stops by amentities and/or fuel type.  Plan smarter & save with Diesel Shark.
    .col-md-6
      .row
        .col-md-6
          = image_tag('app-store.png')
        .col-md-6
          = image_tag('comming-soon.png')
      .row
        .col-md-12
          %h2.join_us Join us today for FREE
